/*********
Global Styling
*********/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&display=swap');

:root {
   --bright-pink: #FF7099;
   --gray: #e6e6e6;
   --med-gray: #9f9893;
   --dark-gray: #413d3a;
   --light-pink: #FDC4DD;
   --light-blue: #CFE4F2;
   --med-blue: #4f9ccf;
   --dark-blue: #233043;
   --diplay-font: "Poppins", Helvetica, Arial, sans-serif;
   --copy-fony: "Fira Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: var(--display-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/************
Landing Page
************/

.divider{
  margin-top: 70px;
}

.landing-page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  align-items: center;
}

.logobox {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.circle {
  background-color: rgba(245,245,245,.4);
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

.outer-circle {
  background-color:  rgba(245,245,245,.2);
  width: 175px;
  height: 175px;
}

.circle img {
  height: 100%;
  width: 100%;
}

.landing-text {
  align-items: left;
}

.headline {
  font-family: var(--diplay-font);
  font-weight: 700;
  color: whitesmoke;
  font-size: 25px;
  text-align: left;
  margin: 0rem .8rem;
}

.sub-head{
  margin-bottom: 5px;
  font-family: var(--copy-fony);
  font-weight: 300;
  color: whitesmoke;
  font-size: 20px;
  text-align: left;
  margin: 0rem .8rem;
}

.blurred-box {
  margin: 25px;
  background-color: var(--bright-pink);
  border-radius: 10px;
}

.btn-text {
  font-family: var(--diplay-font);
  font-weight: 500;
  color: whitesmoke;
  padding: 10px;
}

@keyframes glowing {
  0% {
    background-color: #ff7098;
    box-shadow: 0 0 3px #FF7099;
  }
  50% {
    background-color: #4f9ccf;
    box-shadow: 0 0 3px #4f9ccf;
  }
  100% {
    background-color: #ff7098;
    box-shadow: 0 0 3px #FF7099;
  }
}

.launch-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0,0,0,0);
  z-index: 10;
}

@media screen and (min-width: 500px) {
  .circle img {
    width: 225px;
    height: 225px;
  }
  .circle {
    height: 230px;
    width: 230px;
  }
  .outer-circle {
    height: 245px;
    width: 245px;
  }
  .headline {
    font-size: 35px;
  }
  .sub-head {
    font-size: 30px;
  }
  .btn-text{
    font-size: 25px;
  }
}

@media screen and (min-width: 690px) {
  .headline {
    font-size: 50px;
  }
  .sub-head {
    font-size: 40px;
  }
  btn-text {
    font-size: 35px;
    padding: 15px;
  }
}

/************
Form Page
************/

.form-bg {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.form-title {
  font-family: var(--diplay-font);
  font-weight: 300;
  font-size: 25px;
  padding: 10px 0;
  margin-bottom: 25px;
  color: whitesmoke;
  background-color: #e6e6e66c;
}

.form-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-control{
  margin: 25px 0;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.form-label {
  font-family: var(--copy-fony);
  font-weight: 300;
  font-stretch: expanded;
}


Formk {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

Field[type="text"],
Field[type="number"]{
  display: flexbox;
  align-items: center;
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: none;
}

.submit-btn{
  background-color: var(--bright-pink);
  border: none;
  font-family: var(--diplay-font);
  font-weight: 700;
  font-stretch: extra-expanded;
  font-size: 20px;
  padding: 20px !important;
  border-radius: 20px;
  color: whitesmoke;
  margin: 0 40%;
  z-index: 2;

}

/************
Dashboard
************/

.add-drink{
  background-color: var(--bright-pink);
  border: none;
  font-family: var(--diplay-font);
  font-weight: 700;
  font-stretch: extra-expanded;
  font-size: 20px;
  padding: 20px !important;
  border-radius: 20px;
  color: whitesmoke;
  z-index: 10;
}

.add-drink h1 {
  z-index: 10;
  opacity: 100;
}

.data .bac {
  font-family: var(--copy-fony);
  font-weight: 500;
  color: whitesmoke;
}

.data{
  font-size: 15px;
  margin: 30px;
}

.bac{
  font-size: 75px;
  margin-bottom: 60px;
}

@media screen and (min-width: 690px) {
  .data {
    font-size: 25px;
  }
  .bac {
    font-size: 100px;
  }
  .stats li {
    font-size: 50px;
  }
}


/********
INFO
********/
.info-bar {
  display: flex;
  float: right;
}

.stats {
  margin-top: 50px;
  list-style-type: none;
  justify-content: center;
  font-family: var(--copy-fony);
  color: var(--dark-blue);
  font-size: 15px;
  text-align: center;
}

.stats li {
  margin-bottom: 5px;
}

.info-btn {
  background: var(--med-blue);
  color: whitesmoke;
  border: none;
  padding: .5rem;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 0 0 0 5px;
  z-index: 1000;
}


.info-screen {
    background-color: var(--light-blue);
    position: fixed;
    display: flexbox;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}

.show-info {
  z-index: 9;
  opacity: 1;
}
