/*********
Global Styling
*********/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&display=swap');

:root {
   --bright-pink: #FF7099;
   --gray: #e6e6e6;
   --med-gray: #9f9893;
   --dark-gray: #413d3a;
   --light-pink: #FDC4DD;
   --light-blue: #CFE4F2;
   --med-blue: #4f9ccf;
   --dark-blue: #233043;
   --diplay-font: "Poppins", Helvetica, Arial, sans-serif;
   --copy-fony: "Fira Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: var(--display-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.main-screen {
  height: 100vh;
  place-items: center;
  background-image: url(./assets/LandingScreen.png);
  background: no-repeat top center fixed;
  background-size: cover;
  overflow: hidden;
  transition: 1s ease-in-out;;
}

/************
Logo Header
************/

.logo-header {
  grid-column: span;
  width: 100%;
  text-align: center;
}

.logobox {
  transition: 1s ease-in-out;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 2rem;
  margin-bottom: 20px;
}

.circle {
  transition: 1s ease-in-out;
  background-color: rgba(245,245,245,.4);
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.outer-circle {
transition: 1s ease-in-out;
  background-color:  rgba(245,245,245,.2);
  width: 250px;
  height: 250px;
}

.circle img {
  transition: 1s ease-in-out;
  height: 100%;
  width: 100%;
}

.logo-header {
  grid-column: span;
  width: 100%;
  text-align: center;
}

.logobox {
  transition: 1s ease-in-out;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 2rem;
  margin-bottom: 20px;
}

.circle {
  transition: 1s ease-in-out;
  background-color: rgba(245,245,245,.4);
  border-radius: 50%;
  width: 240px;
  height: 240px;
  overflow: visible !important;
}

.outer-circle {
transition: 1s ease-in-out;
  background-color:  rgba(245,245,245,.2);
  width: 250px;
  height: 250px;
}

.circle img {
  transition: 1s ease-in-out;
  height: 100%;
  width: 100%;
}

/************
Components
************/

.comp {
  font-family: var(--display-font);
  position: absolute;
  bottom: -2rem;
  border-radius: 5rem 5rem 0  0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center space-between;
  align-items: center;
}

.landing-page {
  height: 55%;
  background-color: var(--med-blue);
  transition: 1s ease-in-out;
  width: 100%;
  overflow: hidden;
  opacity: 1;
}

.form-page {
  height: 0;
  background-color: var(--bright-pink);
  width: 100%;
  transition: 1s ease-in-out;
  overflow: hidden;
  opacity: 0;
}

.dashboard-page {
  height: 0;
  transition: 1s ease-in-out;
  background-color: var(--light-blue);
  width: 100%;
  overflow: hidden;
  opacity: 0;
}

/***********
Landing Page
***********/

.landing-text {
  display: block;
  font-family: var(--diplay-font);
  color: var(--light-blue);
  text-align: left !important;
  justify-content: left;
  margin-bottom: 2rem;
}

.headline {
  font-size: 2rem;
}

.sub-head {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  line-height: 1.75rem;
}

.landing-btn {
  background-color: var(--light-blue);
  color: var(--med-blue);
}

.landing-btn:hover {
	background-color: #386f94;
  color: var(--med-blue);
}

/*********
Form Page
*********/
.form-title {
  font-family: var(--diplay-font);
  color: var(--light-pink);
  font-weight: 700;
  font-stretch: condensed;
  font-size: 2rem;
  margin-top: 1.25rem;
  margin-bottom: 2rem;
}

.form-label {
  font-weight: 700;
  font-stretch:extra-expanded;
  font-family: var(--diplay-font);
  color: var(--light-pink);
  font-size: 1.75rem;  
}

.form-control {
  margin-left: 4rem;
  justify-content: left;
  text-align: left;
  display:flexbox;
  flex-direction: column;
}

.error-msg {
  color: var(--dark-gray);
  font-family: var(--copy-fony);
  font-size: 1.25rem;
  font-weight: 300;
  text-align: left;
}

.form-btn {
  background-color: var(--light-pink);
  color: var(--bright-pink);
}

.form-btn:hover {
  background-color: #b44f6b;
  color: var(--bright-pink);
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

#sex {
  width: 100%;
  min-width: 11rem;
  max-width: 13rem;
  min-height: 2.25rem;
  border: none;
  border-radius: 1.25rem;
  padding: 0.25rem .25rem .25rem 1rem;
  font-family: var(--copy-fony);
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--dark-gray);
  cursor: pointer;
  line-height: 1.1;
  background-color: var(--light-pink);
}

/*********
Button Styling
*********/

.btn {
	
	border-radius: 1rem;
  border: none;
	display:inline-block;
	cursor:pointer;
	font-family: var(--diplay-font);
	font-size: 2rem;
	font-weight: 700;
	padding: 1rem 1.3rem;
	text-decoration: none;
  font-stretch: expanded;
}

.spacer {
  height: 1.5rem;
}

