/*********
Global Styling
*********/


:root {
   --bright-pink: #FF7099;
   --gray: #D9D6D4;
   --med-gray: #9f9893;
   --dark-gray: #413d3a;
   --light-pink: #FDC4DD;
   --light-blue: #CFE4F2;
   --med-blue: #4f9ccf;
   --dark-blue: #233043;

}

* {
  background-color: var(--dark-blue);
  color: var(--light-blue);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/**********/

